{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    {{ form_start(newCategoryForm) }}
        {{ form_row(newCategoryForm.libelle) }}

        <button type="submit" class="btn">Envoyer</button>
    {{ form_end(newCategoryForm) }}
{% endblock %}