{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    Tickets :
    
    <ul>
        {% for ticket in myTickets %}
            <li> <a href="{{ path('ticket', {slug: ticket.id}) }}">{{ ticket.title }}</a> ({{ ticket.idCategory.libelle }}) </li>
        {% endfor %}
    </ul>

{% endblock %}
