{% extends 'base.html.twig' %}

{% block title %}My Tickets{% endblock %}

{% block body %}
    My Tickets :
    
    <ul>
        {% for ticket in myTickets %}
            <li> <a href="{{ path('ticket', {slug: ticket.id}) }}">{{ ticket.title }}</a> ({{ ticket.idCategory.libelle }}) </li>
        {% endfor %}
    </ul>

{% endblock %}
